<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới một quốc gia</title>
</head>
<body>

<h1>Thêm mới một quốc gia</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<p>
    <a th:href="@{/quocgias}">Danh Sách Quốc Gia</a>
</p>
<form th:action="@{/create-quocgia}" th:object="${quocgia}" method="post">
    <table>
        <tr>
            <td>Tên Quốc Gia</td>
            <td><input type="text" th:field="*{tenQuocGia}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Thêm"></td>
        </tr>
    </table>
</form>

</body>
</html>