<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa Quốc Gia</title>
</head>
<body>
<h1>Chỉnh sửa Quốc Gia</h1>
<p>
    <a th:href="@{/quocgias}">Danh sách Quốc Gia</a>
</p>

<p th:if="${message}">
<p th:text="${message}"></p>
</p>
<form th:action="@{/edit-quocgia}" th:object="${quocgia}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>Tên Quốc Gia</td>
            <td><input type="text" th:field="*{tenQuocGia}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Cập nhật"></td>
        </tr>
    </table>
</form>


</body>
</html>