<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Province</title>
</head>
<body>
<h1>Danh sách quốc gia</h1>

<p>
    <a th:href="@{/create-quocgia}">Thêm quốc gia</a>
    <a style="margin-left: 30px;" th:href="@{/thanhphos}">Danh sách thành phố</a>
</p>

<table border="1">
    <tr>
        <th>Quốc gia</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <th:block th:each="quocgia : ${quocgias}">
        <tr>
            <td th:text="${quocgia.tenQuocGia}"></td>
            <td><a th:href="@{/edit-quocgia/__${quocgia.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-quocgia/__${quocgia.id}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>