<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete City</title>
</head>
<body>
<h1>Delete City</h1>
<h2>Are you sure? : <span th:text="${city.cityName}"></span></h2>
<form th:action="@{/delete-city}" th:object="${city}" method="post">
    <input th:type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>City:</td>
            <td th:text="${city.cityName}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>

</body>
</html>