<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Infor</title>
</head>
<body>
<h1>City :<span th:text="${city.cityName}"></span></h1>

City : <span th:text="${city.cityName}"></span><br/>
Country:<span th:text="${city.country.countryName}"></span><br/>
Area:<span th:text="${city.area}"></span><br/>
Population: <span th:text="${city.population}"></span><br/>
GDP: <span th:text="${city.GDP}"></span><br/>
Description:<span th:text="${city.description}"></span><br/>

</body>
</html>