<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Infor</title>
</head>
<body>
<h1>Thành phố <span th:text="${thanhpho.tenThanhPho}"></span></h1>

<span th:text="${thanhpho.tenThanhPho}"></span><br/>
<span th:text="${thanhpho.quocGia}"></span><br/>
<span th:text="${thanhpho.dienTich}"></span><br/>
<span th:text="${thanhpho.danSo}"></span><br/>
<span th:text="${thanhpho.GDP}"></span><br/>
<span th:text="${thanhpho.moTaThanhPho}"></span>
</body>
</html>